/*
class - .key{}
id - #key{}
селектор - это формальное описание того элемента или группы к которой применяеся правило стиля
селекторы псевдоклассов - особоее состояние для класса
селекторы потомств A E - любой элемент E является потомком одного из A элементов (дочерним или одном из дочерних)
селекторы дочерних элементов A > E - любой элемент прямой потомок A (:first-child - первым дочерним)
наследование
каскадирование
*/
a + b > div{
    color: oldlace;
}
body {
    margin:0px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    background: #87CEEB;
    background-clip: padding-box;
}

.center-img {
    text-align: center;
}
table{
    width: 70%;
    border: 1px #000080;
    margin: auto;
}
table.history-table th {color: #ffffff; font-weight: bold; border-radius: 4px 4px 0 0; background: #2e82c3;}
table.history-table td {color: #000080; border: 1px solid #2e82c3; border-radius: 4px; background: #cbdfef;}
table.history-table td:hover {background: #a2c3dd; transition-duration: 0.2s;}


.content{
    background:oldlace;
    width: 100%;
    max-width: 1200px;
    min-height: 100%;
    padding: 10px;
    margin: 0 auto;
    color: #000080;
    font: italic  12pt monospace;
}
.clock{
    margin:0px;
    line-height: 4;
    -webkit-font-smoothing: antialiased;
    background: #87CEEB;
    background-clip: padding-box;
}
.header{
    padding-left: 5pt;
    text-align: center;
    color:  #000080;
    background-color: #87CEEB;
    font: italic  12pt monospace; /*ширина каждого символа одинакова*/
}
.headerForGroup{
    color: oldlace;
}

.submit-btn{
    margin: 15px;
    padding: 5px;
    color: #000080;
    border: 1px solid #2e82c3;
    border-radius: 4px;
    background: #cbdfef;
}
.submit-btn.hover{
    background: #a2c3dd;
    transition-duration: 0.2s;
}
.r-button{
    color: #000080;
    border: 1px solid #2e82c3;
    border-radius: 4px;
    background: #cbdfef;
}
input.r-button-selected {
    background: #a2c3dd;
    transition-duration: 0.2s;
}
.button {
    text-align: center;
    margin: 15px;
    padding: 5px;
    color: #000080;
    border: 1px solid #2e82c3;
    border-radius: 4px;
    background: #cbdfef;
}
.button:hover { background: #a2c3dd } /*при наведении*/
.button:active { background:#000080 }

.clock{
    margin: 15px 25px;
    padding: 15px 20px;
    color: #ffffff;
    text-align: center;
    font: italic  20pt monospace;
    background: #2e82c3;
}
#errors{
    margin: 15px 25px;
    padding: 15px 20px;
    color: #ffffff;
    text-align: center;
    font: italic  12pt monospace;
    background: #2e82c3;
}
#count{
    padding-left: 5pt;
    color: #000080;
    text-align: center;
    font: italic  12pt monospace;
}